<div class="row">

    <div class="header">
        <div class="bhelekazi">
            <h1><strong> Bhelekazi </strong></h1>
            <img src="/images/images.png" alt="coffee">
        </div>
    </div>

    <br>

    <div class="textboxName">
        <a href="/waiters">
            <button type="submit" class="add">Waiters</button>
        </a>
    </div>

</div>