<div class="row">

    <h1><strong>Bhelekazi Café</strong></h1>

    <div class="textboxName">

        <form action="/waiters/:username" method="POST">
            <button type="submit" class="add">Waiters</button>
        </form>

        <br>
        <br>

        <form action="/" method="GET">
            <button type="submit" class="add">Administrator</button>
        </form>

    </div>
</div>