.container {
    color: black;
	background-color: cornsilk;
	margin: auto;
	width: 90%;
	text-align: center;
	position: relative;
	border: 3px solid rgb(110, 13, 110);
  }

 .image{
	width: 30%;
	text-align: right;
  }

.button {
	margin: 1em;
	padding: 1em;
}

h1{
	background-color: white;
	 font-family: "Lucida Console", Courier, monospace;
	 position: absolute;
	 top: 4%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 
 }

h2{
	 color:rgb(44, 14, 44);
 }

 p{
	 color: grey;
 }

.header {
	padding: 1em;
	text-align: center;
	font-size: 15px;
  }
  
.message {
	text-indent: 50px;
	text-align: justify;
	letter-spacing: 3px;
	color : red;
}

li{
	text-align: justify;
}

.resetSucceded {
	text-indent: 50px;
	text-align: justify;
	letter-spacing: 3px;
	color: orange;
}

.success {
	text-indent: 50px;
	text-align: center;
	letter-spacing: 3px;
	color: green;
}

table {
	width: 100%;
}

table, td, th {
border: 1px solid black;
border-collapse: collapse;
}

li{
	list-style: none;
}

.red{
	color: red;
}

.orange{
	color: orange;
}

.green{
	color: green;
}

@media(min-width: 1024px) {
	.container {
		width: 50%;
		margin: auto;
		padding: 1em;
	}
}